@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');

* {
  font-family: 'Dosis', sans-serif;

}


.header {

  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 1;
}


.header ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: 50%;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.header ul li {
  padding: 0.6rem 0.6rem;
  box-shadow: inset 0 0 0 1 #5875b4;
  color: #ffffff;
  transition: box-shadow .75s ease-in-out;
}

.header ul li:hover {

  box-shadow: inset 100px 0 0 0 #6083cc;
  color: white;
}




footer {
  background: rgb(58, 58, 58);
  height: 4rem;
}



.row {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}

.col.box-1, .col.box-2 {
  width: 50%;
  padding: 0 1%;
  height: auto;
}

.col {
  width: 100%;
}




  .box-1 {
    background-color: #6083cc;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    color: aliceblue;
  }
  
  .text-box {
    width: 60%;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }


.box-1 .first {
    font-size: 6rem;
    text-transform: uppercase;
}

.box-1 .dash {
  font-size: 3rem;
  text-transform: uppercase;
}

.box-1 .second {
  font-size: 3rem;
  text-transform: uppercase;
}

.box-1 .third {
  font-size: 1rem;
  line-height: 3;
}





  .box-2 {
    background: linear-gradient(0deg, rgba(69, 69, 79, 0.9), rgba(69, 69, 79, 0.7)), url('/img/working.jpeg');
    background-size: cover;
  }





.col.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
  display: inline-block;
  margin: 0.3rem 0;
}


.dot:hover {
  background-color: #5d6577;
  transition: 0.3s;
}

.navitem {
  background: url('/img/down-arrow.svg');
  height: 3rem;
  width: 3rem;
  background-color: #5d6577;
  position: absolute;
  bottom: 2rem;
  transition:all 0.3s;


}

.navitem:hover {
  
  transform: scale(1.1);
  background-color: #6083cc;

}


.logo-text {
  color: white;
}

.logo {
  height: 6rem;
  width: 6rem;
  background-color: rgb(219, 219, 219);
  margin: 2% 2%;
  min-width: 100px;
  transition:all 0.3s;
  
  
}

.logo:hover {

  transform: scale(1.15);
  border-radius: 5%;
  background-color: #797979;

}



.box-3 {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
height: auto;
background-color: whitesmoke;
}

.box-3 div {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.box-3 .first {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.box-3 .second {
  color: rgb(249, 137, 0);
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s;
  float: right;
}

.box-3 .second:hover {
  color:#6083cc;
  transform: scale(1.1);
}