@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');

* {
  font-family: 'Dosis', sans-serif;

}


.header {

  height: 4rem;
  width: 100%;
  position: fixed;
  color: aliceblue;
}


.header ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: 50%;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.header ul li {
  padding: 1.5rem 1.5rem;
  box-shadow: inset 0 0 0 0 #4c84ff;
  color: #ffffff;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header ul li:hover {

  box-shadow: inset 100px 0 0 0 #4c84ff;
  color: white;
}




footer {
  background: gray;
  min-height: 100px;
}


.row {
  display: flex;
  width: 100%;
}

.col.box-1, .col.box-2 {
  width: 50%;
  padding: 0 1%;
  height: 50rem;
}

.col {
  width: 100%;
  height: 30rem;
}




  .box-1 {
    background-color: #4c84ff;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    color: aliceblue;
  }
  
  .text-box {
    width: 60%;
  }


.box-1 .first {
    font-size: 6rem;
    text-transform: uppercase;
}

.box-1 .dash {
  font-size: 3rem;
  text-transform: uppercase;
}

.box-1 .second {
  font-size: 3rem;
  text-transform: uppercase;
}

.box-1 .third {
  font-size: 1rem;
  line-height: 3;
}





  .box-2 {
    background: #45454f;
  }

  .box-3 {
    background: rgb(36, 72, 36);
  }




.col.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

