@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');

* {
  font-family: 'Dosis', sans-serif;

}


.header {

  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
}

.header a {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 0.6rem;
  box-shadow: inset 0 0 0 1 #5875b4;
  color: #ffffff;
  transition: box-shadow .75s ease-in-out;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.85rem;
}



.header ul li {
  padding: 0.6rem 0.6rem;
  box-shadow: inset 0 0 0 1 #5875b4;
  color: #ffffff;
  transition: box-shadow .75s ease-in-out;
}

.header ul li:hover {

  box-shadow: inset 100px 0 0 0 #6083cc;
  color: white;
}




footer {
  background: rgb(58, 58, 58);
  height: 4rem;
}



.row {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}